extends ../layouts/default.pug
include ../mixins/box_breadcrumb.pug
include ../mixins/product_item.pug

block main
  // Breadcrumb
  +box_breadcrumb(breadcrumb)
  // End Breadcrumb

  // Section 9
  .section-9
    .container
      .inner-wrap
        .inner-left
          // Box Filter
          .box-filter
            .inner-head
              .inner-title Bộ Lọc
              i.fa-solid.fa-filter
            .inner-body
              .inner-group
                .inner-label Điểm đi
                select(name="")
                  option(value="") -- Chọn điểm đi --
                  option(value="") Hà Nội
                  option(value="") Đà Nẵng
                  option(value="") Nha Trang
              .inner-group
                .inner-label Điểm đến
                select(name="")
                  option(value="") -- Chọn điểm đến --
                  option(value="") Hà Nội
                  option(value="") Đà Nẵng
                  option(value="") Nha Trang
              .inner-group
                .inner-label Ngày khởi hành
                input(type="date")
              .inner-group
                .inner-label Số Lượng Hành Khách
                .inner-input-list
                  .inner-input-item
                    .inner-label Người lớn:
                    input(
                      value="0" 
                      type="number"
                      )
                  .inner-input-item
                    .inner-label Trẻ em:
                    input(
                      value="0" 
                      type="number"
                      )
                  .inner-input-item
                    .inner-label Em bé:
                    input(
                      value="0" 
                      type="number"
                      )
              .inner-group
                .inner-label Mức giá
                select(name="")
                  option(value="") -- Chọn khoảng giá --
                  option(value="") Dưới 1tr
                  option(value="") Từ 1tr đến 3tr
                  option(value="") Từ 3tr đến 6tr
                  option(value="") Từ 6tr đến 10tr
                  option(value="") Trên 10tr
              .inner-group
                button.inner-button Áp Dụng
          .inner-overlay
          // End Box Filter
        .inner-right
          .inner-info
            h2.inner-title #{category.name}
            .inner-desc
              | !{category.description}
          .inner-info-2
            .inner-sort
              .inner-label Sắp xếp:
              .inner-list
                button
                  | Giá tăng dần
                  i.fa-solid.fa-square-caret-up
                button
                  | Giá giảm dần
                  i.fa-solid.fa-square-caret-down
                button.active
                  | Khuyến Mại Hot
                  i.fa-solid.fa-tag
                button
                  | Xem Nhiều
                  i.fa-solid.fa-eye
            .inner-count-record
              | Tất cả:
              b #{totalTour} Tour
            button.inner-filter-mobile
              span.inner-title Bộ Lọc
              i.fa-solid.fa-filter
          .inner-list-tour
            each item in tourList
              // Product item
              +product_item(item)
              // End Product item
          // Pagination
          .box-pagination
            button
              i.fa-solid.fa-angles-left
            button.active 1
            button 2
            button 3
            button 4
            button
              i.fa-solid.fa-angles-right
          // End Pagination
  // End Section 9