mixin paginations(pagination, itemList)
  .section-7
    span.inner-label Hiển thị #{pagination.skip + 1} - #{pagination.skip + itemList.length} của #{pagination.totalRecord}
    select(class="inner-pagination" pagination)
      - for (let i = 1; i <= pagination.totalPage; i++)
        option(value=i) Trang #{i}